USE [master]
GO
/****** Object:  Database [GestorMantenimiento]    Script Date: 24/08/2026 02:23:00 p. m. ******/
CREATE DATABASE [GestorMantenimiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestorMantenimiento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\GestorMantenimiento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestorMantenimiento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\GestorMantenimiento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestorMantenimiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestorMantenimiento]
GO
/****** Object:  Table [dbo].[equipos]    Script Date: 24/08/2026 02:23:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[marca] [varchar](100) NULL,
	[modelo] [varchar](100) NULL,
	[numero_serie] [varchar](100) NULL,
	[usuario_asignado] [varchar](150) NULL,
	[area] [varchar](100) NULL,
	[sistema_operativo] [varchar](100) NULL,
	[ram] [varchar](50) NULL,
	[almacenamiento] [varchar](100) NULL,
	[ip] [varchar](50) NULL,
	[fecha_adquisicion] [date] NULL,
	[fecha_garantia] [date] NULL,
	[estado] [varchar](50) NOT NULL,
	[observaciones] [varchar](max) NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[garantias]    Script Date: 24/08/2026 02:23:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[garantias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipo_id] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[proveedor] [varchar](150) NULL,
	[tipo_garantia] [varchar](100) NULL,
	[estado] [varchar](30) NOT NULL,
	[observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mantenimientos]    Script Date: 24/08/2026 02:23:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mantenimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipo_id] [int] NOT NULL,
	[usuario_id] [int] NULL,
	[tipo] [varchar](50) NOT NULL,
	[problema] [varchar](max) NULL,
	[diagnostico] [varchar](max) NULL,
	[solucion] [varchar](max) NULL,
	[costo] [decimal](10, 2) NULL,
	[fecha_mantenimiento] [datetime] NOT NULL,
	[observaciones] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 24/08/2026 02:23:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[rol] [varchar](30) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[equipos] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[equipos] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[mantenimientos] ADD  DEFAULT ((0)) FOR [costo]
GO
ALTER TABLE [dbo].[mantenimientos] ADD  DEFAULT (getdate()) FOR [fecha_mantenimiento]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('Tecnico') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[garantias]  WITH CHECK ADD FOREIGN KEY([equipo_id])
REFERENCES [dbo].[equipos] ([id])
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Equipos] FOREIGN KEY([equipo_id])
REFERENCES [dbo].[equipos] ([id])
GO
ALTER TABLE [dbo].[mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Equipos]
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Usuarios] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[mantenimientos] CHECK CONSTRAINT [FK_Mantenimientos_Usuarios]
GO
USE [master]
GO
